<div class="list-users-component">
  <h1 class="title">Spark Library Users</h1>
  <hr />
  <ul class="user-list">
    {{#each users as |user|}}
      <li class="user">
        <img class="user__avatar" src={{user.avatar}} /><br />
        <h3 class="user__name">
          {{user.fullName}} {{#if user.isAdmin}}(Admin){{/if}}
        </h3>
      </li>
    {{/each}}
  </ul>
</div>
