<nav class="primary-nav-bar navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}Spark Library{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to "index"}}About{{/link-to}}</li>
        <li class="active">{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "index"}}Sign Up{{/link-to}}</li>
      </ul>

      {{#if isLoggedIn}} <!-- show this only if there is a logged in user -->
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to "index"}}USERNAME{{/link-to}}</li> <!-- logged in username displays here -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Library</a></li>
              <li><a href="#">Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
